.css_animation{
    height:50px;
    width:50px;
    border-radius: 25px;
    background: rgba(255, 0, 0, 0.9);
    transform: scale(0);
    animation: myfirst 3s;
    animation-iteration-count: infinite;
}
.css_animation1{
    height:50px;
    width:50px;
    border-radius: 25px;
    background: rgb(196, 176, 74);
    transform: scale(0);
    animation: myfirst 3s;
    animation-iteration-count: infinite;
}

@keyframes myfirst{
    to{
        transform: scale(2);
        background: rgba(0, 0, 0, 0);
    }
}